### Implementation of 8th edition PRS scores

In [1]:
import pandas as pd
import numpy as np

In [3]:
main_df = pd.read_csv('../../../Project/data/Main.csv') # update to trimmed dataset later on and remove the next few cells

C:\Users\audre\AppData\Local\Temp\ipykernel_18392\2646484430.py:1: DtypeWarning: Columns (4,11,14,18,19,23,25,32,34,35,36,37,38,39,40,41,46,57,59,64,65,66,67,68,71,74,79,80,81,82,83,84,85,86,89,90,91,95,96,106,109,110,111,112,113,130,133,136,137,141,142,143,144,338,339,340,342,344,345,346,347,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,372,381,382,383,384,385,386,387,388,389,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,416,417,418,419,420,421,423,424,528,529,535,536,540,541,542,543,544) have mixed types. Specify dtype option on import or set low_memory=False.
  main_df = pd.read_csv('../../../Project/data/Main.csv')

In [4]:
main_df.loc[main_df['OFN_LABEL'].isna(), 'OFN_LABEL'] = main_df['ofn_label']

In [5]:
main_df.drop(columns='ofn_label', inplace=True)

In [6]:
main_df.rename(columns=str.upper, inplace=True)

In [160]:
columns = pd.read_excel('../../../Project/data/trimmed_columns_with_labels.xlsx', sheet_name='trimmed_with_labels')

In [161]:
to_add = pd.read_excel('../../../Project/data/trimmed_columns_with_labels.xlsx', sheet_name='cols_to_add')

In [162]:
all_cols = pd.concat([columns, to_add], axis=0)['Variable'].apply(lambda x: x.strip().upper()).unique()

In [11]:
main_df = main_df[all_cols].copy()

In [12]:
main_df.rename(columns = str.lower, inplace=True)

In [14]:
prsconv = []
for i in range(1, 139, 1):
    prsconv.append('prsconv_' + str(i))

In [16]:
prsconv[:3]

['prsconv_1', 'prsconv_2', 'prsconv_3']

In [46]:
main_df['convictions'] = main_df[prsconv].sum(axis=1)

In [48]:
main_df['convictions'].value_counts()

0.0     1680826
1.0      432492
2.0      224476
3.0      116712
4.0       61000
5.0       34983
6.0       17162
7.0        9478
8.0        6231
9.0        3553
10.0       2570
11.0       1448
12.0        936
13.0        598
14.0        316
15.0        208
16.0        173
17.0        159
19.0         74
18.0         73
22.0         33
20.0         30
21.0         25
23.0         18
24.0         12
28.0         10
27.0          8
41.0          6
68.0          5
45.0          5
25.0          4
29.0          3
40.0          3
42.0          2
30.0          1
60.0          1
32.0          1
37.0          1
Name: convictions, dtype: int64

In [170]:
prsadj = []
for i in range(1, 139, 1):
    prsadj.append('prsadj_' + str(i))

In [172]:
print(len(prsadj))
print(prsadj[:3])

138
['prsadj_1', 'prsadj_2', 'prsadj_3']

In [175]:
main_df['adjudications'] = main_df[prsadj].sum(axis=1)

In [176]:
main_df['adjudications'].value_counts()

0.0     2416129
1.0      130395
2.0       34848
3.0        8492
4.0        2489
5.0         809
6.0         246
7.0         111
8.0          53
9.0          32
10.0         10
14.0          6
13.0          5
11.0          4
15.0          3
19.0          2
12.0          1
50.0          1
Name: adjudications, dtype: int64

In [177]:
main_df['adjudications'].isna().sum()

0

In [178]:
main_df['convictiononly'] = 0

In [56]:
main_df['prs_other_misd'].isna().sum()

4

In [63]:
main_df['prs_other_misd'].fillna(0, inplace=True)

In [179]:
mask1 = main_df['adjudications'] == 0
mask2 = main_df['prs_other_misd'] == 0
mask3 = main_df['convictions'] == 1

main_df.loc[mask1 & mask2 & mask3, 'convictiononly'] = 1

In [180]:
main_df['adjonly'] = 0

In [181]:
mask1 = main_df['adjudications'] == 1
mask2 = main_df['prs_other_misd'] == 0
mask3 = main_df['convictions'] == 0

main_df.loc[mask1 & mask2 & mask3, 'adjonly'] = 1

Comment for team: I'm not really sure what we're looking for here, but i've replicated the various 'browse' commands from the STATA file. Per my comment in the file, it looks like they don't actually switch the variable labels for any of the variables, only the text description associated with the variable. So for the subsequent analyses I think we can just keep the current PRSCONV 22/23, PRSADJ 22/23 labels...?

In [188]:
mask1 = main_df['convictiononly'] == 1
mask2 = main_df['prsconv_22'] > 0
main_df[mask1 & mask2][['convictiononly', 'prsconv_22', 'prs']]

         convictiononly  prsconv_22 prs
2740                  1         1.0   3
10496                 1         1.0   3
12618                 1         1.0   3
12619                 1         1.0   3
15061                 1         1.0   3
...                 ...         ...  ..
894106                1         1.0   3
894107                1         1.0   3
1157088               1         1.0   3
1157089               1         1.0   3
1318588               1         1.0   3

[202 rows x 3 columns]

In [187]:
mask1 = main_df['convictiononly'] == 1
mask2 = main_df['prsconv_23'] > 0
main_df[mask1 & mask2][['convictiononly', 'prsconv_23', 'prs']]

         convictiononly  prsconv_23 prs
291                   1         1.0   2
437                   1         1.0   2
438                   1         1.0   2
901                   1         1.0   2
980                   1         1.0   2
...                 ...         ...  ..
2201850               1         1.0   2
2201851               1         1.0   2
2201852               1         1.0   2
2201853               1         1.0   2
2201854               1         1.0   2

[5475 rows x 3 columns]

In [185]:
mask1 = main_df['adjonly'] == 1
mask2 = main_df['prsadj_22'] > 0
main_df[mask1 & mask2][['adjonly', 'prsadj_22', 'prs']]

        adjonly  prsadj_22 prs
410465        1        1.0   3
482321        1        1.0   3
482322        1        1.0   3
483255        1        1.0   3
483256        1        1.0   3
599573        1        1.0   3
599574        1        1.0   3
599577        1        1.0   3
599578        1        1.0   3
599579        1        1.0   3
599580        1        1.0   3

In [189]:
mask1 = main_df['adjonly'] == 1
mask2 = main_df['prsadj_23'] > 0
main_df[mask1 & mask2][['adjonly', 'prsadj_23', 'prs']]

         adjonly  prsadj_23 prs
1295           1        1.0   2
1296           1        1.0   2
2537           1        1.0   2
2538           1        1.0   2
2539           1        1.0   2
...          ...        ...  ..
1371291        1        1.0   0
1444076        1        1.0   2
1444077        1        1.0   2
1446209        1        1.0   2
1535811        1        1.0   2

[2721 rows x 3 columns]

In [190]:
mask1 = main_df['convictiononly'] == 1
mask2 = main_df['prsconv_64'] > 0
main_df[mask1 & mask2][['convictiononly', 'prsconv_64', 'prs']]

         convictiononly  prsconv_64 prs
494431                1         1.0   2
499306                1         1.0   2
501851                1         1.0   2
501852                1         1.0   2
504833                1         1.0   2
...                 ...         ...  ..
2378095               1         1.0   2
2378096               1         1.0   2
2378097               1         1.0   2
2378098               1         1.0   2
2501740               1         1.0   2

[9234 rows x 3 columns]

In [191]:
mask1 = main_df['convictiononly'] == 1
mask2 = main_df['prsconv_65'] > 0
main_df[mask1 & mask2][['convictiononly', 'prsconv_65', 'prs']]

         convictiononly  prsconv_65 prs
511192                1         1.0   3
588203                1         1.0   3
619618                1         1.0   3
627040                1         1.0   3
631017                1         1.0   3
...                 ...         ...  ..
2006588               1         1.0   3
2014105               1         1.0   3
2014106               1         1.0   3
2112247               1         1.0   3
2296286               1         1.0   3

[281 rows x 3 columns]

In [192]:
mask1 = main_df['adjonly'] == 1
mask2 = main_df['prsadj_64'] > 0
main_df[mask1 & mask2][['adjonly', 'prsadj_64', 'prs']]

         adjonly  prsadj_64 prs
493747         1        1.0   2
499408         1        1.0   2
503748         1        1.0   2
503749         1        1.0   2
504143         1        1.0   2
...          ...        ...  ..
2452839        1        1.0   2
2452840        1        1.0   2
2452841        1        1.0   2
2452842        1        1.0   2
2452843        1        1.0   2

[5645 rows x 3 columns]

In [193]:
mask1 = main_df['adjonly'] == 1
mask2 = main_df['prsadj_65'] > 0
main_df[mask1 & mask2][['adjonly', 'prsadj_65', 'prs']]

         adjonly  prsadj_65 prs
647484         1        1.0   3
713712         1        1.0   0
713713         1        1.0   0
819778         1        1.0   3
819779         1        1.0   3
855355         1        1.0   0
874555         1        1.0   3
993796         1        1.0   3
1005699        1        1.0   3
1005700        1        1.0   3
1100092        1        1.0   3
1100093        1        1.0   3
1100094        1        1.0   3
1380863        1        1.0   3

In [194]:
mask1 = main_df['convictiononly'] == 1
mask2 = main_df['prsconv_113'] > 0
main_df[mask1 & mask2][['convictiononly', 'prsconv_113', 'prs']]

         convictiononly  prsconv_113 prs
1911559               1          1.0   3
1911898               1          1.0   2
1911899               1          1.0   2
1912073               1          1.0   2
1912074               1          1.0   2
...                 ...          ...  ..
2592493               1          1.0   2
2592494               1          1.0   2
2592495               1          1.0   2
2592895               1          1.0   2
2592896               1          1.0   2

[4002 rows x 3 columns]

In [195]:
mask1 = main_df['convictiononly'] == 1
mask2 = main_df['prsconv_114'] > 0
main_df[mask1 & mask2][['convictiononly', 'prsconv_114', 'prs']]

         convictiononly  prsconv_114 prs
1912427               1          1.0   3
1925776               1          1.0   3
1925777               1          1.0   3
1925778               1          1.0   3
1928753               1          1.0   3
...                 ...          ...  ..
2561750               1          1.0   3
2573073               1          1.0   3
2577772               1          1.0   3
2577773               1          1.0   3
2587287               1          1.0   3

[84 rows x 3 columns]

In [196]:
mask1 = main_df['adjonly'] == 1
mask2 = main_df['prsadj_113'] > 0
main_df[mask1 & mask2][['adjonly', 'prsadj_113', 'prs']]

         adjonly  prsadj_113 prs
1911593        1         1.0   2
1911594        1         1.0   2
1911595        1         1.0   2
1911596        1         1.0   2
1911597        1         1.0   2
...          ...         ...  ..
2586325        1         1.0   2
2588476        1         1.0   2
2588477        1         1.0   2
2588690        1         1.0   2
2590818        1         1.0   2

[1938 rows x 3 columns]

In [197]:
mask1 = main_df['adjonly'] == 1
mask2 = main_df['prsadj_114'] > 0
main_df[mask1 & mask2][['adjonly', 'prsadj_114', 'prs']]

         adjonly  prsadj_114 prs
1936940        1         1.0   3
2083910        1         1.0   3
2083911        1         1.0   3
2083912        1         1.0   3
2083913        1         1.0   3
2083914        1         1.0   3
2083915        1         1.0   3
2417859        1         1.0   0
2479253        1         1.0   3

##### Classifying priors

In [105]:
# "Total Prior F-1 Conv/Adj"

columns = 'prsconv_1 prsconv_2 prsconv_3 prsconv_4 prsconv_5 prsconv_6 prsconv_7 prsconv_8 prsconv_9 prsconv_10 prsconv_11 prsconv_12 prsconv_13 prsconv_14 prsconv_15 prsconv_16 prsconv_17 prsconv_18 prsconv_21 prsconv_41 prsconv_42 prsconv_43 prsconv_44 prsconv_45 prsconv_46 prsconv_47 prsconv_48 prsconv_49 prsconv_50 prsconv_54 prsconv_55 prsconv_56 prsconv_57 prsconv_58 prsconv_59 prsconv_60 prsconv_61 prsconv_62 prsconv_63 prsconv_90 prsconv_91 prsconv_92 prsconv_93 prsconv_94 prsconv_95 prsconv_96 prsconv_97 prsconv_98 prsconv_99 prsconv_100 prsconv_103 prsconv_104 prsconv_105 prsconv_106 prsconv_107 prsconv_108 prsconv_109 prsconv_110 prsconv_111 prsconv_112 prsadj_1 prsadj_2 prsadj_3 prsadj_4 prsadj_5 prsadj_6 prsadj_7 prsadj_8 prsadj_9 prsadj_10 prsadj_11 prsadj_12 prsadj_13 prsadj_14 prsadj_15 prsadj_16 prsadj_17 prsadj_18 prsadj_21 prsadj_41 prsadj_42 prsadj_43 prsadj_44 prsadj_45 prsadj_46 prsadj_47 prsadj_48 prsadj_49 prsadj_50 prsadj_54 prsadj_55 prsadj_56 prsadj_57 prsadj_58 prsadj_59 prsadj_60 prsadj_61 prsadj_62 prsadj_63 prsadj_90 prsadj_91 prsadj_92 prsadj_93 prsadj_94 prsadj_95 prsadj_96 prsadj_97 prsadj_98 prsadj_99 prsadj_100 prsadj_103 prsadj_104 prsadj_105 prsadj_106 prsadj_107 prsadj_108 prsadj_109 prsadj_110 prsadj_111 prsadj_112'.split(' ')
print(columns)
print(len(columns))

['prsconv_1', 'prsconv_2', 'prsconv_3', 'prsconv_4', 'prsconv_5', 'prsconv_6', 'prsconv_7', 'prsconv_8', 'prsconv_9', 'prsconv_10', 'prsconv_11', 'prsconv_12', 'prsconv_13', 'prsconv_14', 'prsconv_15', 'prsconv_16', 'prsconv_17', 'prsconv_18', 'prsconv_21', 'prsconv_41', 'prsconv_42', 'prsconv_43', 'prsconv_44', 'prsconv_45', 'prsconv_46', 'prsconv_47', 'prsconv_48', 'prsconv_49', 'prsconv_50', 'prsconv_54', 'prsconv_55', 'prsconv_56', 'prsconv_57', 'prsconv_58', 'prsconv_59', 'prsconv_60', 'prsconv_61', 'prsconv_62', 'prsconv_63', 'prsconv_90', 'prsconv_91', 'prsconv_92', 'prsconv_93', 'prsconv_94', 'prsconv_95', 'prsconv_96', 'prsconv_97', 'prsconv_98', 'prsconv_99', 'prsconv_100', 'prsconv_103', 'prsconv_104', 'prsconv_105', 'prsconv_106', 'prsconv_107', 'prsconv_108', 'prsconv_109', 'prsconv_110', 'prsconv_111', 'prsconv_112', 'prsadj_1', 'prsadj_2', 'prsadj_3', 'prsadj_4', 'prsadj_5', 'prsadj_6', 'prsadj_7', 'prsadj_8', 'prsadj_9', 'prsadj_10', 'prsadj_11', 'prsadj_12', 'prsadj_13', 'prsadj_14', 'prsadj_15', 'prsadj_16', 'prsadj_17', 'prsadj_18', 'prsadj_21', 'prsadj_41', 'prsadj_42', 'prsadj_43', 'prsadj_44', 'prsadj_45', 'prsadj_46', 'prsadj_47', 'prsadj_48', 'prsadj_49', 'prsadj_50', 'prsadj_54', 'prsadj_55', 'prsadj_56', 'prsadj_57', 'prsadj_58', 'prsadj_59', 'prsadj_60', 'prsadj_61', 'prsadj_62', 'prsadj_63', 'prsadj_90', 'prsadj_91', 'prsadj_92', 'prsadj_93', 'prsadj_94', 'prsadj_95', 'prsadj_96', 'prsadj_97', 'prsadj_98', 'prsadj_99', 'prsadj_100', 'prsadj_103', 'prsadj_104', 'prsadj_105', 'prsadj_106', 'prsadj_107', 'prsadj_108', 'prsadj_109', 'prsadj_110', 'prsadj_111', 'prsadj_112']
120

In [79]:
main_df['F1tot'] = main_df[columns].sum(axis=1)

In [80]:
main_df['F1tot'].isna().sum()

0

In [103]:
# "Total Prior F-2 Conv/Adj"

columns = 'prsconv_19 prsconv_20 prsconv_23 prsconv_51 prsconv_52 prsconv_53 prsconv_64 prsconv_101 prsconv_102 prsconv_113 prsadj_19 prsadj_20 prsadj_23 prsadj_51 prsadj_52 prsadj_53 prsadj_64 prsadj_101 prsadj_102 prsadj_113'.split(' ')
print(columns)
print(len(columns))

['prsconv_19', 'prsconv_20', 'prsconv_23', 'prsconv_51', 'prsconv_52', 'prsconv_53', 'prsconv_64', 'prsconv_101', 'prsconv_102', 'prsconv_113', 'prsadj_19', 'prsadj_20', 'prsadj_23', 'prsadj_51', 'prsadj_52', 'prsadj_53', 'prsadj_64', 'prsadj_101', 'prsadj_102', 'prsadj_113']
20

In [82]:
main_df['F2tot'] = main_df[columns].sum(axis=1)

In [83]:
main_df['F2tot'].isna().sum()

0

In [104]:
# "Total Prior F-3 Conv/Adj"

columns = 'prsconv_22 prsconv_24 prsconv_25 prsconv_39 prsconv_65 prsconv_66 prsconv_67 prsconv_69 prsconv_76 prsconv_85 prsconv_114 prsconv_115 prsconv_116 prsconv_118 prsconv_125 prsconv_134 prsadj_22 prsadj_24 prsadj_25 prsadj_39 prsadj_65 prsadj_66 prsadj_67 prsadj_69 prsadj_76 prsadj_85 prsadj_114 prsadj_115 prsadj_116 prsadj_118 prsadj_125 prsadj_134'.split(' ')
print(columns)
print(len(columns))

['prsconv_22', 'prsconv_24', 'prsconv_25', 'prsconv_39', 'prsconv_65', 'prsconv_66', 'prsconv_67', 'prsconv_69', 'prsconv_76', 'prsconv_85', 'prsconv_114', 'prsconv_115', 'prsconv_116', 'prsconv_118', 'prsconv_125', 'prsconv_134', 'prsadj_22', 'prsadj_24', 'prsadj_25', 'prsadj_39', 'prsadj_65', 'prsadj_66', 'prsadj_67', 'prsadj_69', 'prsadj_76', 'prsadj_85', 'prsadj_114', 'prsadj_115', 'prsadj_116', 'prsadj_118', 'prsadj_125', 'prsadj_134']
32

In [85]:
main_df['F3tot'] = main_df[columns].sum(axis=1)

In [86]:
main_df['F3tot'].isna().sum()

0

In [106]:
#  "Total Prior M-1 Conv/Adj"

columns = 'prsconv_26 prsconv_27 prsconv_28 prsconv_29 prsconv_30 prsconv_31 prsconv_32 prsconv_33 prsconv_34 prsconv_35 prsconv_36 prsconv_37 prsconv_38 prsconv_40 prsconv_68 prsconv_70 prsconv_71 prsconv_72 prsconv_73 prsconv_74 prsconv_75 prsconv_77 prsconv_78 prsconv_79 prsconv_80 prsconv_81 prsconv_82 prsconv_83 prsconv_84 prsconv_86 prsconv_89 prsconv_117 prsconv_119 prsconv_120 prsconv_121 prsconv_122 prsconv_123 prsconv_124 prsconv_126 prsconv_127 prsconv_128 prsconv_129 prsconv_130 prsconv_131 prsconv_132 prsconv_133 prsconv_135 prsconv_138 prsadj_26 prsadj_27 prsadj_28 prsadj_29 prsadj_30 prsadj_31 prsadj_32 prsadj_33 prsadj_34 prsadj_35 prsadj_36 prsadj_37 prsadj_38 prsadj_40 prsadj_68 prsadj_70 prsadj_71 prsadj_72 prsadj_73 prsadj_74 prsadj_75 prsadj_77 prsadj_78 prsadj_79 prsadj_80 prsadj_81 prsadj_82 prsadj_83 prsadj_84 prsadj_86 prsadj_89 prsadj_117 prsadj_119 prsadj_120 prsadj_121 prsadj_122 prsadj_123 prsadj_124 prsadj_126 prsadj_127 prsadj_128 prsadj_129 prsadj_130 prsadj_131 prsadj_132 prsadj_133 prsadj_135 prsadj_138'.split(' ')
print(columns)
print(len(columns))

['prsconv_26', 'prsconv_27', 'prsconv_28', 'prsconv_29', 'prsconv_30', 'prsconv_31', 'prsconv_32', 'prsconv_33', 'prsconv_34', 'prsconv_35', 'prsconv_36', 'prsconv_37', 'prsconv_38', 'prsconv_40', 'prsconv_68', 'prsconv_70', 'prsconv_71', 'prsconv_72', 'prsconv_73', 'prsconv_74', 'prsconv_75', 'prsconv_77', 'prsconv_78', 'prsconv_79', 'prsconv_80', 'prsconv_81', 'prsconv_82', 'prsconv_83', 'prsconv_84', 'prsconv_86', 'prsconv_89', 'prsconv_117', 'prsconv_119', 'prsconv_120', 'prsconv_121', 'prsconv_122', 'prsconv_123', 'prsconv_124', 'prsconv_126', 'prsconv_127', 'prsconv_128', 'prsconv_129', 'prsconv_130', 'prsconv_131', 'prsconv_132', 'prsconv_133', 'prsconv_135', 'prsconv_138', 'prsadj_26', 'prsadj_27', 'prsadj_28', 'prsadj_29', 'prsadj_30', 'prsadj_31', 'prsadj_32', 'prsadj_33', 'prsadj_34', 'prsadj_35', 'prsadj_36', 'prsadj_37', 'prsadj_38', 'prsadj_40', 'prsadj_68', 'prsadj_70', 'prsadj_71', 'prsadj_72', 'prsadj_73', 'prsadj_74', 'prsadj_75', 'prsadj_77', 'prsadj_78', 'prsadj_79', 'prsadj_80', 'prsadj_81', 'prsadj_82', 'prsadj_83', 'prsadj_84', 'prsadj_86', 'prsadj_89', 'prsadj_117', 'prsadj_119', 'prsadj_120', 'prsadj_121', 'prsadj_122', 'prsadj_123', 'prsadj_124', 'prsadj_126', 'prsadj_127', 'prsadj_128', 'prsadj_129', 'prsadj_130', 'prsadj_131', 'prsadj_132', 'prsadj_133', 'prsadj_135', 'prsadj_138']
96

In [94]:
print(columns)

['prsconv_26', 'prsconv_27', 'prsconv_28', 'prsconv_29', 'prsconv_30', 'prsconv_31', 'prsconv_32', 'prsconv_33', 'prsconv_34', 'prsconv_35', 'prsconv_36', 'prsconv_37', 'prsconv_38', 'prsconv_40', 'prsconv_68', 'prsconv_70', 'prsconv_71', 'prsconv_72', 'prsconv_73', 'prsconv_74', 'prsconv_75', 'prsconv_77', 'prsconv_78', 'prsconv_79', 'prsconv_80', 'prsconv_81', 'prsconv_82', 'prsconv_83', 'prsconv_84', 'prsconv_86', 'prsconv_89', 'prsconv_117', 'prsconv_119', 'prsconv_120', 'prsconv_121', 'prsconv_122', 'prsconv_123', 'prsconv_124', 'prsconv_126', 'prsconv_127', 'prsconv_128', 'prsconv_129', 'prsconv_130', 'prsconv_131', 'prsconv_132', 'prsconv_133', 'prsconv_135', 'prsconv_138', 'prsadj_26', 'prsadj_27', 'prsadj_28', 'prsadj_29', 'prsadj_30', 'prsadj_31', 'prsadj_32', 'prsadj_33', 'prsadj_34', 'prsadj_35', 'prsadj_36', 'prsadj_37', 'prsadj_38', 'prsadj_40', 'prsadj_68', 'prsadj_70', 'prsadj_71', 'prsadj_72', 'prsadj_73', 'prsadj_74', 'prsadj_75', 'prsadj_77', 'prsadj_78', 'prsadj_79', 'prsadj_80', 'prsadj_81', 'prsadj_82', 'prsadj_83', 'prsadj_84', 'prsadj_86', 'prsadj_89', 'prsadj_117', 'prsadj_119', 'prsadj_120', 'prsadj_121', 'prsadj_122', 'prsadj_123', 'prsadj_124', 'prsadj_126', 'prsadj_127', 'prsadj_128', 'prsadj_129', 'prsadj_130', 'prsadj_131', 'prsadj_132', 'prsadj_133', 'prsadj_135', 'prsadj_138']

In [95]:
main_df['M1tot'] = main_df[columns].sum(axis=1)

In [96]:
main_df['M1tot'].isna().sum()

0

In [98]:
# "Total Prior M-2 Conv/Adj"

columns = 'prsconv_87 prsconv_88 prsconv_136 prsconv_137 prsadj_88 prsadj_87 prsadj_136 prsadj_137'.split(' ')
print(columns)
print(len(columns))

['prsconv_87', 'prsconv_88', 'prsconv_136', 'prsconv_137', 'prsadj_88', 'prsadj_87', 'prsadj_136', 'prsadj_137']
8

In [99]:
main_df['M2tot'] = main_df[columns].sum(axis=1)

In [100]:
main_df['M2tot'].isna().sum()

0

In [101]:
# "Total Prior F1/F2 Conv/Adj"
main_df['F1F2'] = main_df['F1tot'] + main_df['F2tot']

In [102]:
main_df['F1F2'].isna().sum()

0

##### 8th edition PRS categories

"mostserious" score categories:   
1: "F1"  
2: "F2"  
3: "F3"  
4: "M1"   
5: "M2"  
6: "Other Misd"   
7: "True Zero"

In [107]:
main_df['mostserious'] = np.nan

In [121]:
mask1 = main_df['F1tot'] > 0

main_df.loc[mask1, 'mostserious'] = 1

In [109]:
mask1 = main_df['F2tot'] > 0
mask2 = main_df['F1tot'] == 0

main_df.loc[mask1 & mask2, 'mostserious'] = 2

In [110]:
mask1 = main_df['F3tot'] > 0
mask2 = main_df['F1tot'] == 0
mask3 = main_df['F2tot'] == 0

main_df.loc[mask1 & mask2 & mask3, 'mostserious'] = 3

In [111]:
mask1 = main_df['M1tot'] > 0
mask2 = main_df['F1tot'] == 0
mask3 = main_df['F2tot'] == 0
mask4 = main_df['F3tot'] == 0

main_df.loc[mask1 & mask2 & mask3 & mask4, 'mostserious'] = 4

In [112]:
mask1 = main_df['M2tot'] > 0
mask2 = main_df['F1tot'] == 0
mask3 = main_df['F2tot'] == 0
mask4 = main_df['F3tot'] == 0
mask5 = main_df['M1tot'] == 0

main_df.loc[mask1 & mask2 & mask3 & mask4 & mask5, 'mostserious'] = 5

In [113]:
mask1 = main_df['prs_other_misd'] > 0
mask2 = main_df['F1tot'] == 0
mask3 = main_df['F2tot'] == 0
mask4 = main_df['F3tot'] == 0
mask5 = main_df['M1tot'] == 0
mask6 = main_df['M2tot'] == 0

main_df.loc[mask1 & mask2 & mask3 & mask4 & mask5 & mask6, 'mostserious'] = 6

In [114]:
mask1 = main_df['prs_other_misd'] == 0
mask2 = main_df['F1tot'] == 0
mask3 = main_df['F2tot'] == 0
mask4 = main_df['F3tot'] == 0
mask5 = main_df['M1tot'] == 0
mask6 = main_df['M2tot'] == 0

main_df.loc[mask1 & mask2 & mask3 & mask4 & mask5 & mask6, 'mostserious'] = 7

In [122]:
main_df['mostserious'].value_counts().sort_index()

1.0     243348
2.0     198950
3.0     460184
4.0      66433
5.0      45421
6.0     491685
7.0    1087615
Name: mostserious, dtype: int64

In [124]:
main_df['mostserious'].isna().sum()

0

##### Create PRS 8 scores

Score categories:  
1: "Zero"   
2: "Low"   
3: "Medium"  
4: "High" (includes REVOC)

In [125]:
# PRS scores

main_df['prs8'] = np.nan

In [126]:
mask1 = main_df['mostserious'] == 7

main_df.loc[mask1, 'prs8'] = 1

In [127]:
mask1 = main_df['mostserious'] == 6
mask2 = main_df['mostserious'] == 5

main_df.loc[mask1 | mask2, 'prs8'] = 2

In [128]:
mask1 = main_df['mostserious'] == 4
mask2 = main_df['M1tot'] == 1

main_df.loc[mask1 & mask2, 'prs8'] = 2

In [129]:
mask1 = main_df['mostserious'] == 1
mask2 = main_df['F1F2'] == 1
mask3 = main_df['mostserious'] == 2
mask4 = main_df['F1F2'] == 1

main_df.loc[(mask1 & mask2) | (mask3 & mask4), 'prs8'] = 3

In [130]:
mask1 = main_df['mostserious'] == 3
mask2 = main_df['mostserious'] == 4
mask3 = main_df['M1tot'] > 1

main_df.loc[mask1 | (mask2 & mask3), 'prs8'] = 3

In [131]:
mask1 = main_df['mostserious'] == 1
mask2 = main_df['F1F2'] > 1
mask3 = main_df['mostserious'] == 2
mask4 = main_df['F1F2'] > 1

main_df.loc[(mask1 & mask2) | (mask3 & mask4), 'prs8'] = 4

In [132]:
main_df['prs8'].isna().sum()

0

At this point, I do not replace prs8 as 5 for the REVOC category, as our subsequent analysis will combine REVOC and RFEL anyways.

However, there are 10 rows (5 people) who have a current PRS of REVOC but their prs8 is not the highest category of 4. To remain consistent with the STATA code file, we will re-code these as prs8 == 4

In [137]:
main_df[(main_df['prs'].str.upper() == 'REVOC') & (main_df['prs8']!=4)][['jpr_id', 'id_variable', 'mostserious', 'prs8']]

         jpr_id  id_variable  mostserious  prs8
10296    624566      1204940          7.0   1.0
201857  2739220      1398299          7.0   1.0
201858  2739220      1398299          7.0   1.0
282952  4999177      1030140          7.0   1.0
453872    92371      1913854          7.0   1.0
453873    92371      1913854          7.0   1.0
486545    40108      1619954          7.0   1.0
486546    40108      1619954          7.0   1.0
486547    40108      1619954          7.0   1.0
486548    40108      1619954          7.0   1.0

In [138]:
main_df.loc[(main_df['prs'].str.upper() == 'REVOC') & (main_df['prs8']!=4), 'prs8'] = 4

##### output to dataset

In [198]:
all_cols = set(all_cols) - set([i.upper() for i in prsconv])
all_cols = all_cols - set([i.upper() for i in prsadj])

In [199]:
all_cols = list(all_cols)
all_cols += ['PRS8', 'F1TOT', 'F2TOT', 'F3TOT', 'M1TOT', 'M2TOT', 'F1F2', 'MOSTSERIOUS']

In [200]:
print(len(all_cols))
print(all_cols)

87
['INC_END', 'MOSTSERIOUS', 'MND_MINIMUM', 'OFF_AGE', 'PRS_MANUAL', 'JPS_DRUG_DEPENDENT', 'INC_TYPE', 'JPO_ID', 'PROB_SANCTION_EXISTS', 'JPR_ID', 'DOSAGE', 'IP_START', 'GUILTY_NO_PENALTY', 'OFN_LABEL', 'STAT_MIN', 'F2TOT', 'DOB2', 'SGR_LVL', 'OFF_SEX', 'F3TOT', 'DOS', 'F1TOT', 'JP_MIN', 'INC_RELATIONSHIP', 'OFN_TITLE', 'OGS', 'JMIN', 'F1F2', 'REASON_THREE', 'JPR_LASTUPDATE', 'OFN_COUNT', 'MS_OFFBODY', 'OFN_GRADE', 'PCS_OFF_ID', 'JPS_DA_EVAL', 'SGR_LVL_OGS_PRS', 'INCMAX', 'REASON_ONE', 'M1TOT', 'PMIN', 'JPS_SVP', 'PRS_OTHER_MISD', 'DOF', 'GRADE', 'GLEPOCH', 'PRS8', 'IP_SANCTION_EXISTS', 'INC_RELATEDTO', 'IP_END', 'INC_RELATEDOTN', 'PRS_LAPSING', 'SIP', 'CONFORMITY', 'INC_SANCTION_EXISTS', 'DOB', 'MS_OFFINJP', 'INC_START', 'CONFORM', 'OFF_RACE', 'PRS', 'LABEL', 'PRS_NONLAPSING', 'JP_CC_BUG', 'MORE_REASONS', 'MS_SANCTION', 'STATE_IP', 'MS_SENTJP', 'OFN_LIFE_DEATH', 'OTN', 'DISPOSITION', 'COUNTY', 'DOFAGE', 'ID_VARIABLE', 'OFF_CRIMEFREE', 'REASON_TWO', 'INCMIN', 'JP_LIFE_DEATH', 'M2TOT', 'GUIDELINE_RANGE', 'PRS8', 'F1TOT', 'F2TOT', 'F3TOT', 'M1TOT', 'M2TOT', 'F1F2', 'MOSTSERIOUS']

In [202]:
main_df.rename(columns = str.upper, inplace=True)

In [203]:
trimmed = main_df[all_cols]

In [204]:
trimmed.to_csv('../../../Project/data/trimmed_w_prs8.csv')